body {
    font-family: 'Montserrat', sans-serif;
    background-color:gray;
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px;
    color: white;

}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: red;
}

.bigContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    width: 90vw;


}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutpicture {
    width: 30vw;
}

.abouttext {
    width: 70vw;
}
@media screen and (max-width: 800px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em; 
    }

    body {
        font-size: 1em; 

    }

    .about {
        flex-direction: column;
    }
}